@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --color-primary: #F6AE3F;
  --color-secondary: #263640;
}


@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-montserrat text-secondary overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-space-grotesk;
  }

  button {
    @apply cursor-pointer
  }
}

@utility container-base {
  @apply w-full max-w-235 xl:max-w-340 mx-auto px-5;
}

@utility hover-primary {
  @apply transition duration-300 hover:bg-primary/80
}
