@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

/* * {
  outline: 1px solid blue;
} */
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-roman: "Times New Roman";
  --font-sans: "sans-serif";
  --font-arial: "Arial";
  --color-primary: #f6ae3f;
  --color-secondary: #263640;
  --color-phone: #dfdfdf;
  --color-check: #979797;
  --color-orange: #ef9c1c;
  --color-price-btn: #b8bcbf;
  --color-gray-soft: #7b7b7b;
  --text-58px: 58px;
  --text-22: 22px;
  --text-32: 32px;
  --text-18: 18px;
  --spacing-754: 754px;
  --spacing-270: 270px;
  --spacing-298: 298px;
  --spacing-76: 76px;
  --spacing-85: 85px;
  --spacing-90: 90px;
  --spacing-200: 200px;
  --spacing-306: 306px;
  --spacing-52: 52px;
  --spacing-630: 630px;
  --spacing-435: 435px;
  --spacing-550: 550px;
  --spacing-500: 500px;
  --spacing-850: 850px;
  --spacing-135: 135px;
  --spacing-150: 150px;
  --spacing-260: 260px;
  --spacing-188: 188px;
  --spacing-282: 282px;
  --radius-10: 10px;
  --breakpoint-gl: 976px;
  --breakpoint-xs: 480px;
  --breakpoint-xd: 380px;
  --breakpoint-ss: 300px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-montserrat text-secondary overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-space-grotesk;
  }

  button {
    @apply cursor-pointer;
  }
}
@layer utilities {
  /* Hero text font-size */
  .text-hero {
    font-size: var(--text-58px);
  }
  .text-3xxl {
    font-size: 32px;
  }
  /* H1 width */
  .w-754 {
    width: var(--spacing-754);
  }
  .w-270 {
    width: var(--spacing-270);
  }
  .w-630 {
    width: var(--spacing-630);
  }
  .w-135 {
    width: var(--spacing-135);
  }
  .w-306 {
    width: var(--spacing-306);
  }
  .w-500 {
    width: var(--spacing-500);
  }
  .w-260 {
    width: var(--spacing-260);
  }
  .h-135 {
    height: var(--spacing-135);
  }
  .h-200 {
    height: var(--spacing-200);
  }
  .h-550 {
    height: var(--spacing-550);
  }
  .h-150 {
    height: var(--spacing-150);
  }
  .h-850 {
    height: var(--spacing-850);
  }
  .h-435 {
    height: var(--spacing-435);
  }
  .h-188 {
    height: var(--spacing-188);
  }
  .h-282 {
    height: var(--spacing-282);
  }
  .w-85 {
    width: var(--spacing-85);
  }
  .h-85 {
    height: var(--spacing-85);
  }
  .w-90 {
    width: var(--spacing-90);
  }
  .h-90 {
    height: var(--spacing-90);
  }
  .h-76 {
    height: var(--spacing-76);
  }
  .h-52 {
    height: var(--spacing-52);
  }
  .h-298 {
    height: var(--spacing-298);
  }
  .rounded-10 {
    border-radius: var(--radius-10);
  }
  @layer utilities {
    @keyframes rotate-circle {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    .animate-rotate-circle {
      animation: rotate-circle 10s linear infinite;
    }
  }
  @keyframes bounce-y {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
  }
  svg {
    shape-rendering: geometricPrecision;
    image-rendering: crisp-edges;
  }
  .animate-bounce-y {
    animation: bounce-y 1.6s ease-in-out infinite;
  }
}
@utility container-base {
  @apply w-full max-w-235 xl:max-w-340 mx-auto px-2;
}
@layer utilities {
  .text-sharp svg text {
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;
    -webkit-text-size-adjust: 100%;
  }

  .text-sharp svg {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}
@utility hover-primary {
  @apply transition duration-300 hover:bg-primary/80;
}
/* Container */
.react-international-phone-input-container {
  @apply bg-transparent;
}
.react-international-phone-country-selector-button {
  background-color: transparent !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.map-dark-overlay {
  pointer-events: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}
@layer components {
  .custom-pagination .swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;
    background: black !important;
    opacity: 1;
    border-radius: 9999px;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    width: 13px !important;
    height: 13px !important;
    background: #ef9c1c !important;
  }
}
.circle-text {
  fill: white;
  font-size: 21px; /* 16px emas — aynan 14px tiniq chiqadi */
  word-spacing: 2px;
  font-family: "Arial";
  text-rendering: geometricPrecision;
  text-transform: capitalize;
}
.text-size-adjust {
  text-size-adjust: none;
}
@import "tailwindcss";
